# Discord configuration
BOT_TOKEN=yourtokenhere
BOT_PREFIX=!

# Zendesk configuration
ZENDESK_ROOT_URL=https://feedback.discordapp.com
ZENDESK_DEFAULT_ACTOR=administrator@yourdomain.tld
ZENDESK_API_KEY=supersecret

# Error reporting
SENTRY_DSN=https://sentry.io

# Debugging
# Don't modify this in production
NODE_ENV=production # can be 'debug'
#DEBUG_USER_SEARCH_OVERRIDE=someuser@yourdomain.tld

